<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 상단메뉴  -->
	<div id="header" th:fragment="headerFragment">
		상단메뉴<br>
		fragments/header.html<br>
		<a th:href="@{/member/addMember}">회원가입</a>
		<a th:if="${session.SLEVEL < 2}" th:href="@{/member/memberList}">회원목록</a>
		<a th:href="@{/member/loginHistory}">회원로그인이력</a>
		<a th:href="@{#}">상품등록</a>
		<a th:href="@{/goods/goodsList}">상품목록</a>
		<a th:href="@{/member/sellerList}">판매자목록</a>
		<a th:href="@{/goods/goodsDetailList}">상품상세목록조회</a>
		<a th:href="@{/order/orderList}">주문상세목록현황</a>
		<a th:if="${session.SID == null}" th:href="@{/member/login}">로그인</a>
		<a th:unless="${session.SID == null}" th:href="@{/member/logout}">로그아웃</a>
	</div>
</html>







